@font-face
  font-family: 'Crimson Pro'
  src: local('Crimson Pro'), local('CrimsonPro-Regular'), url('../fonts/CrimsonPro-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Crimson Pro'
  src: local('Crimson Pro Bold'), local('CrimsonPro-Bold'), url('../fonts/CrimsonPro-Bold.ttf') format('truetype')
  font-weight: bold
  font-style: normal
