@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap')

/* Define font usage */
body
  font-family: 'Fira Sans', sans-serif

h1, h2, h3, h4, h5, h6
  font-family: 'Fira Sans', sans-serif
  font-weight: 700  /* Bold headings */

p, span, a, div
  font-family: 'Fira Sans', sans-serif
  font-weight: 400  /* Regular text */
